/* MOBILE FIRST */
 .header{
    max-height: 49.125rem;
    width: 100%;
    background-image: url("../../assets/img/background_mobile.png");
    background-position: center;
    padding-top: 6.25rem;
    padding-bottom: 6.25rem;
}
@media(min-width: 390px){
    .header{
        background-image: url("../../assets/img/background_desktop.png");
    }
}
.div_header{
    display: flex;
    flex-direction: column;
    gap: 3.75rem;
}

.img_logo{
    height: 1.438rem;
    width: 12.063rem;
}

.header_description{
    display: flex;
    flex-direction: column;
    gap: 2rem;
}
.main_general{
    padding-top: 3.25rem;
    padding-bottom: 1rem;
    display: flex;
    flex-direction: column;
    gap: 1.25rem; 
}
.main_coluns{
    display: flex;
    flex-direction: column;
    gap: 1.25rem;
} 

.colun-right{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.ul_list_vacancies{
    display: flex;
    flex-direction: column;
    gap: 2rem;
}

.colun-left{
    height: fit-content;
    display: flex;
    flex-direction: column;
    gap:2.25rem;
    background-color:var(--color-grey-6);
    border-radius: var(--radius-default);
}

.title_left{
    padding: 2rem 1.25rem;
}

.empty_place{
    display: flex;
    flex-direction: column;
    gap:1.688rem;
    padding: 1.25rem;
} 

@media(min-width: 991px){
    .header{
        height: 45.938rem;
        width: 100%;
        background-image: url("../../assets/img/background_desktop.png");
    }
    
    .header_description{
        display: flex;
        flex-direction: column;
        gap: 2rem;
    }
    .main_general{
      display: flex;
      position: relative;  
    }
    .main_coluns{
        display: flex;
        flex-direction: row;
        gap: 60px;
    }
    .colun-right{
        width: 65%;
    }
    .li_bigCards{
        padding: 2.375rem;
    } 
    .li_list_vacancies_footer{
        display: flex;
        flex-direction: row !important;
        justify-content: space-between;
    }
    .colun-left{
        position: sticky;
        top: 20px;
        width: 35%;
    }
    
  }

  .hidden{
    display: none;
  }