.li_bigCards{
    background-color: var(--color-grey-6);
    display: flex;
    flex-direction: column;
    gap: 1.75rem;
    padding: 1.25rem;
    border-radius: var(--radius-default);
}

.li_list_vacancies_header{
    display: flex;
    flex-direction: column;
    gap: 1.125rem;
}

.div_company_and_city{
    display: flex;
    gap: 2rem;
}

.li_list_vacancies_footer{
    display: flex;
    flex-direction: column;
    gap: 2rem;
}

.modalities{
    display: flex;
    
    justify-content: flex-start;
    gap: 5px;
    width: 255px;
}

.li_smallCards{
    display: flex;
    flex-direction: column;
    border-bottom: 0.125rem solid var(--color-grey-5);
    gap: 1.25rem;
    padding: 2rem 1.25rem;
}

.li_smallCards:hover{
    background-color: var(--color-grey-4);
}

.header_mini_card{
    display: flex;
    gap: 0.75rem;
}

